{% extends 'layouts/form.html' %}
{% block title %}Register{% endblock %}
{% block content %}





<div class="container" id="fm3">
<div class="col-md-6">

  <form method="post"   class="form-horizontal" style="margin-bottom: 200px;">
   <fieldset>
   <legend style="color:#000;">Registration</legend>
    <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Shopkeeper Name</label>
         <div class="col-lg-10">
    {{ form.name(class_ = 'form-control first-input', placeholder = form.name.label.text, required = true, autofocus = true) }}
    </div>
    </div>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Username</label>
         <div class="col-lg-10">
    {{ form.name(class_ = 'form-control first-input', placeholder = form.name.label.text, required = true, autofocus = true) }}
    </div>
    </div>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Phone Number</label>
         <div class="col-lg-10">
    {{ form.email(class_ = 'form-control', placeholder = form.email.label.text, required = true) }}
    </div>
    </div>
     <div class="form-group">
        <label for="inputAddress" class="col-lg-2 control-label">Address</label>
         <div class="col-lg-10">
    {{ form.name(class_ = 'form-control first-input', placeholder = form.name.label.text, required = true, autofocus = true) }}
    </div>
    </div>
     <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Password</label>
         <div class="col-lg-10">
    {{ form.password(class_ = 'form-control', placeholder = form.password.label.text, required = true) }}
    </div>
    </div>
   
       <div class="form-group">
         <div class="col-lg-10">
  <!--  <p class="pull-left"><a href="{{ url_for('login') }}" style="color:#000;">Login</a></p>-->
    </div>
    </div>
       <div class="form-group">
         <div class="col-lg-10">
    <input type="submit" value="Register" class="btn btn-primary "  style="margin-left:100px;">
    </div>
    </div>
    <!--<p>You must add database as well as Flask-Login to enable user management. See the <a href="http://www.realpython.com">Real Python</a> course for more info!</p>-->
  </form>
  </fieldset>
  </form>
  </div>
  </div>







{% endblock %}
